* {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
    color: #BDBDBD;
    width: 100%;
    height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#131313+0,03da03+50,111111+100 */
    background: #131313; /* Old browsers */
    background: -moz-linear-gradient(left,  #131313 0%, #03da03 50%, #111111 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #131313 0%,#03da03 50%,#111111 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #131313 0%,#03da03 50%,#111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#111111',GradientType=1 ); /* IE6-9 */
}

h3 .badge {
    margin: 0 0 8px 4px;
}

#wi, #pa, #w-equip {
    list-style-type: none;
}

/** Custom NavBar **/
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    font-size: 16px;
}

.navbar-brand img {
    height: 32px;
}

#mb-play {
    animation: pulse 2s infinite;
    margin: 9px 14px;
    border-width: 4px;
}

#ship-current {
    margin: -43px 0 0 0;
    font-size: 11px;
    color: #03DA03;
    font-weight: 400;
}

.ls-container {
    min-height: 100%;
    background: #161514;
    box-shadow: 0 0 200px 150px #161514;
    border-left: 1px solid #F0F8FF;
    border-right: 1px solid #F0F8FF;
    padding: 65px 10px 10px 10px;
}

.page-header {
    box-shadow: inset 0px -16px 214px -85px #F0F8FF;
    margin: -3px -10px 10px -10px;
    border-bottom: 1px solid #eee;
    height: 112px;
    padding: 12px 0 0 0;
}

.page-header .fa-circle {
    color: rgba(238, 162, 54, 0.84);
}

.btn {
    background-color: rgba(0, 0, 0, 0);
    border-width: 2px;
    font-weight: bold;
    min-width: 40px;
}

.btn-primary {
    color: #2e6da4;
    border-color: #2e6da4;
}

.btn-danger {
    color: #d43f3a;
    border-color: #d43f3a;
}

.btn-info {
    color: #46b8da;
    border-color: #46b8da;
}

.btn-warning {
    color: #eea236;
    border-color: #eea236;
}

.btn-warning.disabled {
    background: #84581B;
    border-color: #eea236;
}

.btn-lg {
    max-width: 19vw;
    overflow: hidden;
}

.btn-lg img {
    max-height: 22px;
}

/** Game Screen **/
#body-game {
    overflow: hidden;
}

.game canvas {
    margin: auto;
    border: 1px solid;
}

#game-message {
    font-size: 30px;
    font-weight: bold;
}

input {
    color: black;
}

.panel-collapsable .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}

.panel-collapsable .panel-heading a.collapsed:after {
    content:"\e080";
}

/** Title Screen **/
.body-title {
    background: #020202;
    animation: titleBackground 25s infinite;
}

#title-screen .logo {
    margin: 20px 0 100px 0;
}

#title-screen #just-play {
    animation: pulseWarning 2.5s infinite;
    min-width: 137px;
    margin: 0 0 25px 0;
}

#title-screen #join-facebook {
    animation: pulse 2.5s infinite;
    min-width: 137px;
}

#title-screen .news {
    margin-top: 64px;
}

#title-screen .news .list-group-item {
    background: none;
    border: 1px solid #414141;
}


/** Settings Screen **/
#settings .keychange {
    margin: 5px;
    clear: both;
}

#settings .keychange div {
    padding: 8px;
}

#settings #gamepad {
    margin: 0 0 30px 0;
}

#workshop .nav-tabs, #workshop .nav-tabs li a:visited{
  background-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  font-weight: bold;
  min-width: 40px;
}
#workshop .nav-tabs li a:hover{
  background-color: #2e6da4;
  border-color: #2e6da4;
  color: #000000;
}
#workshop .nav-tabs li a:active{
  background-color: #2e6da4;
  border-color: #2e6da4;
  color: #000000;
}

#workshop .fa-plus-circle {
    margin: -3px 0 0 -14px;
    cursor: pointer;
    color: #EEA236;
}

#back{
  position: fixed;
    bottom: 0;
  align: right;
}

.navbar-right a:hover{
  background-color: white;
  color: grey;
}


/* Ship Selection Screen */
.aship {
    cursor: pointer;
    float: left;
    text-align: center;
    margin: 20px;
    padding: 10px;
    width: 230px;
    height: 370px;
    border-radius: 16px;
}

.no-opacity {
    opacity: 1.0;
}

.aship:hover {
    box-shadow: 0px 0px 55px 0px #FF7900;
}

.aship img {
    max-height: 300px;
    max-width: 200px;
}

.selectedShip {
    background: #6F3500;
    box-shadow: 0px 0px 40px 0px #6F3500;
}

.editShipName {
    display: block;
    margin: 0 auto;
}

.editingShipName {
    display: block;
    max-width: 210px;
}

.editingShipName input {
    max-width: 130px;
}

/* Store Screen */
#store-inventory {
    background: gainsboro;
    color: #333;
}

#store-inventory img {
    max-height: 20vh;
    max-width: 10vw;
    margin: 0 auto;
    display: block;
}

#store-inventory ul {
    padding-left: 0;
}

#store-inventory .progress {
    height: 12px;
    margin-bottom: 3px;
}

.buyCell {
    background: #0A0A0A;
    max-width: 80px;
}

.buyCell button {
    margin: 4px;
}

#store-inventory .shop-slot-image {
    display: inline;
    max-width: 44px;
}


/* Profile Screen */
#banner {
    width: 40%;
    background: green;
    height: 50px;
    position: fixed;
    top: 43;
    display: none;
    left: 10;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}

footer {
    position: fixed;
    border-top: 1px solid;
    height: 32px;
    bottom: 0;
    width: 100%;
    background: black;
    z-index: 100;
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    text-align: right;
    padding: 2px 105px 0 0;
    color: #03DA03;
    font-weight: bold;
    font-size: 20px;
}

#credits {
    font-family: monospace;
}

.about-section {
    margin: 0 0 30px 0;
}


@keyframes pulse {
    0%, 15%, 85%, 100% {
        box-shadow: inset 0 0 6px #007EFF, 0 0 4px #00ABFF;
        text-shadow: none;
    }
    50% {
        box-shadow: inset 0 0 30px #007EFF, 0 0 20px #00ABFF;
        text-shadow: 0 0 10px #007EFF;
    }
}

/** Pop up tour buttons **/
.tour-button {
    position: fixed;
    bottom: 48px;
    margin-left: -15px;
    background: cornflowerblue;
    height: 46px;
    border-radius: 7px;
    border: 3px solid;
    color: slateblue;
    font-weight: 900;
    text-align: center;
    font-size: 12px;
    padding: 2px 8px;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
    box-shadow: inset 0px 0px 48px black;
    cursor: pointer;
}

.tour-button:hover {
    box-shadow: 0 0 15px white;
}



/** Animation **/
@keyframes pulseWarning {
    0%, 15%, 85%, 100% {
        box-shadow: inset 0 0 6px #EEA236, 0 0 4px #EEA236;
        text-shadow: none;
    }
    50% {
        box-shadow: inset 0 0 30px #EEA236, 0 0 20px #EEA236;
        text-shadow: 0 0 20px #EEA236;
    }
}

@keyframes titleBackground {
    0%, 50%, 100% {
        opacity: 1;
    }
    75% {
        opacity: 0.9;
    }
}
