<% include head.ejs %>
<body>
    <% include nav.ejs %>
    <div id="stats" class="container ls-container">
        <div class="page-header text-center">
            <h1><i class="fa fa-file-text" aria-hidden="true"></i> About LiveSpace</h1>
        </div>
        <div class="col-sm-6">

            <h4> Brief Description</h4>
            <p> Games on social networks are popular, but most of them only accept clicks and drags for input.
              Our objective is to build a real time web based entertainment application with social network capabilities.
              Players will pilot ships and shoot at each other in an open environment to achieve victory with less clicking and more action.
            </p></br>


            <h4> Libraries Used</h4>
            <p> We chose to use Phaser.io. Phaser is a very powerful open source HTML5 game framework which gives developers ability to develop
               cross-browser HTML5 games in a fast and fun way. Phaser is also built to work with the mobile browsers.  </br>
             To learn more about Phaser: <a href="http://phaser.io/" target="_blank">Click here</a></br>
             Libraries we used include Bootstrap, Font-Awesome, Jquery-stupid-table, Ejs, Express, Mongoose, Moniker, Passport, Socket.io, Bower, Gulp, etc.
           </p></br>

            <div class="about-section">
                <h4>People To Thank</h4>
                <p>We'd like to thank to <a href="http://www.pvamu.edu">Prairie View University</a> and Dr. Akhtar Lodgher.</p>
                <p>Ships created by <a href="http://millionthvector.blogspot.com/p/free-sprites.html">MillionthVector</a>, modified under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License</a>.</p>
                <p>The two songs used are by <a href="http://freemusicarchive.org/music/BoxCat_Games/">BoxCat Games</a>.</p>
                <p>Power up sprites were made by <a href="http://www.crownjoseph.com/sprites.html">Joseph Crown</a>.</p>
            </div>

            <h4> The Development Team</h4>
            <p> The development team is made up of: Anthony Comeaux, Bisoye Olaleye, James Pryor, and Jibaniya Agbu.
            </p></br>


          <h4>Contact</h4></br>
          <p><a href="mailto:james@geekwagon.net">james@geekwagon.net</a></p>

        </div>
    </div>
</body>
</html>
