<% include head.ejs %>
<body id="body-game">
    <% include nav.ejs %>
    <div class="container ls-container">
        <div id="game" class="game"></div>
        <div class="text-success text-center" id="game-message"></div>
    </div>

    <script>
        $(function() {
            // Objects from routs.js.
            PlayerObj = <%- JSON.stringify(playerData) %>;  // Pass selected ship data to game.
            dbShips = <%- JSON.stringify(dbShips) %>;       // Used to load assets in game.
            dbWeapons = <%- JSON.stringify(dbWeapons) %>;
            dbActives = <%- JSON.stringify(dbActives) %>;
            dbPassives = <%- JSON.stringify(dbPassives) %>;
            dbPowerups = <%- JSON.stringify(dbPowerups) %>;

            // Stuff to start game.
            selectedShip = PlayerObj.shiplayouts[PlayerObj.selectedShip];
            uscg = new USCG();
            socket = uscg.getSocket();
        });
    </script>
    <!-- game:js -->
    <!-- endinject -->
</body>
</html>
