<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live Space!</title>
    <!-- style:css -->
    <!-- endinject -->
    <!-- jquery:js -->
    <!-- endinject -->
    <!-- socket:js -->
    <!-- endinject -->
    <!-- libraries:js -->
    <!-- endinject -->
    <!-- web:js -->
    <!-- endinject -->
</head>
