<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body  {
          padding-top:80px;
          background-color: black;
        }
        h1,h2 {
          font-style: normal;
          color:green;
        }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">
    <h1>Live Space!</h1>
    <h2><span class="fa fa-sign-in"></span> Login or Register</h2>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
    <hr>
    <a href="/game" class="btn btn-warning">Just Play</a>
</div>

</div>
</body>
</html>
