<nav class="navbar navbar-inverse navbar-fixed-top" style="border-bottom: 1px solid #03DA03;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="title"><img height="18px" src="assets/logo.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <a class="btn btn-primary navbar-left navbar-btn" id="mb-play" href="game">Play Now</a>
                <a class="btn btn-primary navbar-left navbar-btn" id="mb-forfeit" href="#"><i class="fa fa-times-circle"></i> FORFEIT</a></li>
                <ul class="nav navbar-nav">
                    <li class="dropdown btn-group" id="mi-ships">
                        <a class="btn" href="ships"><i class="fa fa-rocket"></i> Change Ship <div id="ship-current"><%= playerData.shiplayouts[playerData.selectedShip].name %></div></a>
                        <a class="btn dropdown-toggle" id="nav-quickship" href="#"  data-toggle="dropdown" role="button"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% for(var k in playerData.shiplayouts) { %>
                                <li class="quickship" value="<%= k %>"> <a href="#"><%= playerData.shiplayouts[k].name %></a></li>
                            <% } %>
                        </ul>
                    </li>
                </ul>
                <li id="mi-workshop"><a href="workshop"><i class="fa fa-wrench"></i> Workshop</a></li>
                <li id="mi-store"><a href="store"><i class="fa fa-shopping-cart"></i> Store</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="nav-gamerTag" data-toggle="dropdown" role="button" ><%= playerData.profile.gamerTag %> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="mi-stats"><a href="stats"><i class="fa fa-bar-chart"></i> Your Stats</a></li>
                        <li role="separator" class="divider"></li>
                        <li id="mi-profile"><a href="profile"><i class="fa fa-user"></i> Profile</a></li>
                        <li id="mi-settings"><a href="settings"><i class="fa fa-cogs"></i> Settings</a></li>
                        <li id="mi-logout"><a href="logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                        <li role="separator" class="divider"></li>
                        <li id="mi-about"><a href="about"> <i class="fa fa-file-text" aria-hidden="true"></i> About</a></li>
                    </ul>
                </li>
                <li id="music-control"><a href="#"><i class="fa fa-pause-circle-o" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<footer>
    <span id="credits-display">Credit: &curren; <span id="credits"><%= playerData.stats.credit %></span></span>
    <audio id="music-player" src="assets/audio/BoxCat_Games_-_02_-_Mt_Fox_Shop.mp3" loop="loop"></audio>
</footer>

<script>

    // Make nav bar work.
    $('.navbar-nav li').removeClass('active');
    $('#mi-' + location.pathname.slice(1)).addClass('active');

    // Swap Play Now and Forfeit buttons out, and hide credit's footer while in game.
    if(location.pathname.slice(1) === 'game') {
        $('.navbar-nav li').addClass('disabled');
        $('#mb-forfeit').show();
        $('#mb-play').hide();
        $('footer').hide();
    } else {
        $('#mb-play').show();
        $('#mb-forfeit').hide();
        $('footer').show();
    }

    // Prevent navigation when menu buttons are disabled.
    $('.disabled').click(function (e) {
        e.preventDefault();
        return false;
    });

    // Display credits in footer properly.
    $('#credits').html(numberWithCommas($('#credits').html()));

    //quick ship select
    $('.quickship').on('click', function(e) {
        PlayerObj.selectedShip = parseInt(this.value);
        $('#ship-current').html(PlayerObj.shiplayouts[PlayerObj.selectedShip].name);

        savePlayerObj(PlayerObj, function () {
            if (location.pathname == '/ships') {
                $('.aship').removeClass('selectedShip');
                $('#ship-' + PlayerObj.selectedShip).addClass('selectedShip');
            }

            if (location.pathname == '/workshop') {
                location.reload();
            }
        });
    });

    // Give player warning if currently selected ship has no weapons.
    $('#mb-play').on('click', function(e) {
        e.preventDefault();
        var weaponSlots = 0;
        var weaponSlotsEmpty = 0;
        var result = true;
        for(var slot in PlayerObj.shiplayouts[PlayerObj.selectedShip].slots) {
            if (PlayerObj.shiplayouts[PlayerObj.selectedShip].slots[slot].moduleType == 'weapon') {
                weaponSlots++;
                if (PlayerObj.shiplayouts[PlayerObj.selectedShip].slots[slot].moduleId == 0) {
                    weaponSlotsEmpty++;
                }
            }
        }
        if (weaponSlotsEmpty === weaponSlots) {
            result = window.confirm('Your ship has no weapons loaded, are you sure you\'re ready to enter the arena?');
        }
        if (result) {
            location.href = 'game';
        } else {
            return false;
        }
    });

    // Forfeit game and go back to Ship Select screen.
    $('#mb-forfeit').on('click', function() {
        // Only used on game screen, where uscg exists.
        uscg.forfeit();
    });

    /* Music Controls */
    var music = document.getElementById('music-player');

    // Music mute/unmute.
    $('#music-control a').on('click', function (e) {
        e.preventDefault();
        if ($(this).children('.fa').hasClass('fa-pause-circle-o')) {
            if (location.pathname !== '/game') {
                // then turn on the music
                $(this).children('.fa').addClass('fa-play-circle-o');
                $(this).children('.fa').removeClass('fa-pause-circle-o');
                music.volume = 1;
            }
        } else {
            // turn it off
            $(this).children('.fa').addClass('fa-pause-circle-o');
            $(this).children('.fa').removeClass('fa-play-circle-o');
            music.volume = 0;
        }
    });

    // Mute and start music (so it can be enabled by the player).
    $(document).ready(function () {
        music.volume = 0;
        music.play();
    });

</script>
