<% include head.ejs %>
<body>
    <% include nav.ejs %>
    <div id="settings" class="container ls-container">

        <div class="page-header text-center">
            <h1><i class="fa fa-user"></i> Profile</h1>
        </div>

        <div class="col-md-6">
            <h2><span class="fa fa-facebook"></span> Facebook</h2>
            <!-- Display Facebook Info-->
            <% if (playerData.profile.facebook !== undefined) { %>
                <p>Your Facebook Name: <%= playerData.profile.facebook.name %></p>
            <% } else { %>
                <p>Save your current progress, connect with Facebook now.</p>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
            <% } %>
        </div>

        <div class="col-sm-6">
            <h2><i class="fa fa-user-plus"></i> Player</h2>
            <div>
                <p>
                    Gamer Tag: <button class="btn btn-warning" id="editGamerTag"><%= playerData.profile.gamerTag %></button>
                    <span id="editingGamerTag">
                        <input id="editingGamerTagInput" type="text" placeholder="<%= playerData.profile.gamerTag %>">
                        <a id="editingGamerTagDone" class="btn btn-warning">Done</a>
                    </span>
                </p>
            </div>
        </div>

    </div>

    <script>
        // Player object in browser memeory.
        PlayerObj = <%- JSON.stringify(playerData) %>;

        // Updates the gamer tag.
        function updateGamerTag() {

            // Validate input
            if($('#editingGamerTagInput').val() !== '') {

                // Update gamerTag in browser's PlayerObj.
                PlayerObj.profile.gamerTag = $('#editingGamerTagInput').val();

                // Send the whole player object in POST to server
                $.ajax({
                    method: "POST",
                    url: "/savePlayerObj",
                    data: PlayerObj
                });

            } else {
                // Optonally send a message to plyayer to let them know that gamer tag sucks and
                // they need to try again.
            }

            // Update gamer tag in navigation, button, and input (the only places it shows up).
            // to avoid page refresh.
            $('#nav-gamerTag').html($('#editingGamerTagInput').val());
            $('#editGamerTag').html($('#editingGamerTagInput').val());

            $('#editingGamerTagInput').attr('placeholder', $('#editingGamerTagInput').val());

            // Hide input and show button again.
            $('#editingGamerTag').hide();
            $('#editGamerTag').show();
        }

        // Hide edit section on page load.
        $('#editingGamerTag').hide();

        // Click on gamer tag to edit.
        $('#editGamerTag').on('click', function(event) {
            $('#editGamerTag').hide();
            $('#editingGamerTag').show();
        });

        // Update gamer tag on clicking done.
        $('#editingGamerTagDone').on('click', function(event) {
            updateGamerTag();
        });

        // Update gamer tag by hitting enter.
        $('#editingGamerTagInput').on('keydown', function(event) {
            if(event.keyCode === 13) {
                updateGamerTag();
            }
        });

    </script>
</body>
</html>
