<% include head.ejs %>
<body>
    <% include nav.ejs %>
    <div id="settings" class="container ls-container">
        <div class="page-header text-center">
            <h1><i class="fa fa-cogs"></i> Settings</h1>
        </div>

        <h3><i class="fa fa-keyboard-o"></i> Keyboard Controls</h3>
        <p>To change key, click to highlight button, then press any key to assign to button</p>
        <div class="col-xs-6">
            <div class="keychange">
                <div class="col-xs-8 text-right" data-toggle="tooltip" data-placement="right" title="Fire main engines to propell ship forward.">
                    Forward:
                </div>
                <button class="btn btn-primary" id="btn_forward"><%= playerData.settings.controls.forward %></button>
            </div>
            <div class="keychange">
                <div class="col-xs-8 text-right" data-toggle="tooltip" data-placement="right" title="Fire reverse thrusters.">
                    Reverse:
                </div>
                <button class="btn btn-primary" id="btn_reverse"><%= playerData.settings.controls.reverse %></button>
            </div>
            <div class="keychange">
                <div class="col-xs-8 text-right" data-toggle="tooltip" data-placement="right" title="Fire thrusters in pattern to rotate ship to left.">
                    Rotate Left:
                </div>
                <button class="btn btn-primary" id="btn_left"><%= playerData.settings.controls.left %></button>
            </div>
            <div class="keychange">
                <div class="col-xs-8 text-right" data-toggle="tooltip" data-placement="right" title="Fire thrusters in pattern to rotate ship to right.">
                    Rotate Right:
                </div>
                <button class="btn btn-primary" id="btn_right"><%= playerData.settings.controls.right %></button>
            </div>
            <div class="keychange">
                <div class="col-xs-8 text-right" data-toggle="tooltip" data-placement="right" title="Fire all port thrusters to straif left.">
                    Port Thrusters:
                </div>
                <button class="btn btn-primary" id="btn_sleft"><%= playerData.settings.controls.sleft %></button>
            </div>
            <div class="keychange">
                <div class="col-xs-8 text-right" data-toggle="tooltip" data-placement="right" title="Fire all starboard thrusters to straif right.">
                    Starboard Thrusters:
                </div>
                <button class="btn btn-primary" id="btn_sright"><%= playerData.settings.controls.sright %></button>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="keychange">
                <div class="col-xs-6 text-right" data-toggle="tooltip" data-placement="right" title="Fire all weapons.">
                    Fire:
                </div>
                <button class="btn btn-info" id="btn_fire"><%= playerData.settings.controls.fire %></button>
            </div>
            <div class="keychange">
                <div class="col-xs-6 text-right" data-toggle="tooltip" data-placement="right" title="Use active module if available.">
                    Active Module:
                </div>
                <button class="btn btn-info" id="btn_useActive"><%= playerData.settings.controls.useActive %></button>
            </div>
            </div>

        <div class="col-xs-12">
            <h3><i class="fa fa-gamepad"></i> GamePad Controls</h3>
            <div id="gamepad">
                No suported gamepad detected. This feature has limited browser and gamepad support.
            </div>
        </div>
    </div>

    <script>
    // Player object in browser memeory.
    PlayerObj = <%- JSON.stringify(playerData) %>;

    // reference https://github.com/photonstorm/phaser/blob/v2.4.4/src/input/Keyboard.js#L601

    //click to edit text inside a button

    $(document).ready(function() {

        // Enable tool tips.
        //$('[data-toggle="tooltip"]').tooltip();

        // Change input key on click.
        $('.keychange button').on('click', function(e) {

            // Hide button and display message.
            var key = $(this);
            key.hide();
            key.parent().append('<div class="temp">press a key to reassign</div>');

            // Assign keydown handler to look for input.
            $(document).on('keydown', function(e) {
                var user_input = String.fromCharCode(e.which);
                var isValid = true;
                // Get weird keys (for phaser engine).
                switch (e.keyCode) {
                    case 13: user_input = "ENTER"; break;
                    //case 17: user_input = "CONTROL"; break;
                    case 18: user_input = "ALT"; break;
                    case 16: user_input = "SHIFT"; break;
                    case 32: user_input = "SPACEBAR"; break;
                    case 48: user_input = "ZERO"; break;
                    case 49: user_input = "ONE"; break;
                    case 50: user_input = "TWO"; break;
                    case 51: user_input = "THREE"; break;
                    case 52: user_input = "FOUR"; break;
                    case 53: user_input = "FIVE"; break;
                    case 54: user_input = "SIX"; break;
                    case 55: user_input = "SEVEN"; break;
                    case 56: user_input = "EIGHT"; break;
                    case 57: user_input = "NINE"; break;
                    case 27: user_input = "ESC"; break;
                    case 37: user_input = "LEFT"; break;
                    case 38: user_input = "UP"; break;
                    case 39: user_input = "RIGHT"; break;
                    case 40: user_input = "DOWN"; break;
                    case 96: user_input = "NUMPAD_0"; break;
                    case 97: user_input = "NUMPAD_1"; break;
                    case 98: user_input = "NUMPAD_2"; break;
                    case 99: user_input = "NUMPAD_3"; break;
                    case 100: user_input = "NUMPAD_4"; break;
                    case 101: user_input = "NUMPAD_5"; break;
                    case 102: user_input = "NUMPAD_6"; break;
                    case 103: user_input = "NUMPAD_7"; break;
                    case 104: user_input = "NUMPAD_8"; break;
                    case 105: user_input = "NUMPAD_9"; break;
                    case 106: user_input = "NUMPAD_MULTIPLY"; break;
                    case 107: user_input = "NUMPAD_ADD"; break;
                    case 108: user_input = "NUMPAD_ENTER"; break;
                    case 109: user_input = "NUMPAD_SUBTRACT"; break;
                    case 110: user_input = "NUMPAD_DECIMAL"; break;
                    case 111: user_input = "NUMPAD_DIVIDE"; break;
                    case 112: user_input = "F1"; break;
                    case 113: user_input = "F2"; break;
                    case 114: user_input = "F3"; break;
                    case 115: user_input = "F4"; break;
                    case 116: user_input = "F5"; break;
                    case 117: user_input = "F6"; break;
                    case 118: user_input = "F7"; break;
                    case 119: user_input = "F8"; break;
                    case 120: user_input = "F9"; break;
                    case 121: user_input = "F10"; break;
                    case 122: user_input = "F11"; break;
                    case 123: user_input = "F12"; break;
                    case 124: user_input = "F13"; break;
                    case 125: user_input = "F14"; break;
                    case 126: user_input = "F15"; break;
                    default:{
                    if (!(e.keyCode>=60 && e.keyCode<=90)) {
                      alert("Invalid key, please try another");
                      isValid = false;
                    }
                    break;
                  }

                }

                // Do not allow player to reassign an already assigned key.
                if (user_input != PlayerObj.settings.controls.forward && user_input != PlayerObj.settings.controls.reverse &&
                    user_input != PlayerObj.settings.controls.left && user_input != PlayerObj.settings.controls.right &&
                    user_input !=PlayerObj.settings.controls.sleft && user_input !=PlayerObj.settings.controls.sright &&
                    user_input != PlayerObj.settings.controls.fire && user_input !=PlayerObj.settings.controls.alternative
                    && isValid) {

                    // Update key on screen.
                    key.html(user_input);

                    // Update PlayerObj in browser.
                    if(key.attr('id') === 'btn_forward') {
                        PlayerObj.settings.controls.forward = user_input;

                    } else if (key.attr('id') == "btn_reverse") {
                        PlayerObj.settings.controls.reverse = user_input;

                    } else if (key.attr('id') == "btn_left") {
                        PlayerObj.settings.controls.left = user_input;

                    } else if (key.attr('id') == "btn_right") {
                        PlayerObj.settings.controls.right = user_input;

                    } else if (key.attr('id') == 'btn_sleft') {
                        PlayerObj.settings.controls.sleft = user_input;

                    } else if (key.attr('id') == 'btn_sright') {
                        PlayerObj.settings.controls.sright = user_input;

                    } else if (key.attr('id') == "btn_fire") {
                        PlayerObj.settings.controls.fire = user_input;

                    } else if (key.attr('id') == "btn_useActive") {
                        PlayerObj.settings.controls.useActive = user_input;
                    }

                    // Send the whole player object in POST if this is a registered player.
                    temp = $.ajax({
                        method: "POST",
                        url: "/savePlayerObj",
                        data: PlayerObj,
                        error: function(data) {
                            console.log(JSON.stringify(data));
                        },
                    });
                }

                // Hide instructional message and show button again.
                key.parent().children('.temp').remove();
                key.show();

                // Unnassign keydown handler.
                $(document).off('keydown');
            });
        });

        // Poll for gamepad.
        var haveEvents = 'ongamepadconnected' in window;
        var controllers = {};

        function connecthandler(e) {
            addgamepad(e.gamepad);
        }

        function addgamepad(gamepad) {
            controllers[gamepad.index] = gamepad;
            $('#gamepad').html(
                '<p>Looks like you have a supported gamepad.</p>\
                <p>Forward on the analog stick is variable speed, unlike the buttons or keys used for Forward.</p>\
                <img src="assets/web/gamepad_layout.jpg">\
                <p>Gamepad keys cannot be changed yet, sorry :(</p>'
            );
            requestAnimationFrame(updateStatus);
        }

        function disconnecthandler(e) {
            removegamepad(e.gamepad);
        }

        function removegamepad(gamepad) {
            $('#gamepad').html('No suported gamepad detected. This feature has limited browser and gamepad support.')
            delete controllers[gamepad.index];
        }

        function updateStatus() {
            if (!haveEvents) {
                scangamepads();
            }

            requestAnimationFrame(updateStatus);
        }

        function scangamepads() {
            var gamepads = navigator.getGamepads ? navigator.getGamepads() : (navigator.webkitGetGamepads ? navigator.webkitGetGamepads() : []);
            for (var i = 0; i < gamepads.length; i++) {
                if (gamepads[i]) {
                    if (gamepads[i].index in controllers) {
                        controllers[gamepads[i].index] = gamepads[i];
                    } else {
                        addgamepad(gamepads[i]);
                    }
                }
            }
        }

        window.addEventListener("gamepadconnected", connecthandler);
        window.addEventListener("gamepaddisconnected", disconnecthandler);

        if (!haveEvents) {
          setInterval(scangamepads, 500);
        }

    });
    </script>

</body>
</html>
