<% include head.ejs %>
<body>
    <% include nav.ejs %>
    <div id="shipselect" class="container ls-container">
        <div class="page-header text-center">
            <h1>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-1x"></i>
                    <i class="fa  fa-rocket fa-stack-1x fa-inverse"></i>
                </span> Ship Selection
            </h1>
        </div>

        <!-- loop through ships and show them-->
        <% for(var i in playerData.shiplayouts) {%>
            <div class="aship" id="ship-<%= i %>">
                <button class="btn btn-warning editShipName"><%= playerData.shiplayouts[i].name %></button>
                <span class="editingShipName">
                    <input class="editingShipNameInput" type="text" placeholder="<%= playerData.shiplayouts[i].name %>">
                    <a class="btn btn-warning editingShipNameDone">Done</a>
                </span>
                <img src= <%= playerData.shiplayouts[i].imagepath %>>
            </div>
        <% } %>

    </div>

    <script>

        // Objects from routs.js.
        PlayerObj = <%- JSON.stringify(playerData) %>;

        // Highlight curent ship.
        $(document).ready(function() {

            // Just in case it's not a number this time.
            var selected = parseInt(PlayerObj.selectedShip, 10);
            $('#ship-' + selected).addClass('selectedShip');

            // Hide edit sections on page load.
            $('.editingShipName').hide();

        });

        // Updates the ship name.
        function updateShipName(shipKey, shipName) {

            // Validate input
            if(shipName !== '') {

                // Update ShipName in browser's PlayerObj.
                PlayerObj.shiplayouts[shipKey].name = shipName;

                // Save to server.
                savePlayerObj(PlayerObj);

                // Update ship name on screen to avoid refresh.
                $('#ship-' + shipKey + ' button').html(shipName);
                $('#ship-' + shipKey + ' #editingShipNameInput').attr('placeholder', shipName);

                // Hide input and show button again.
                $('.editingShipName').hide();
                $('.editShipName').show();

            } else {
                // Optonally send a message to plyayer to let them know their ship name sucks.
            }
        }

        // Click on ship name to edit.
        $('.editShipName').on('click', function(event) {
            $(this).hide();
            $(this).parent().find('.editingShipName').show();
        });

        // Update ship name on clicking done.
        $('.editingShipNameDone').on('click', function(event) {
            shipKey = parseInt($(this).parent().parent().attr('id').split('-')[1], 10);
            shipName = $(this).parent().find('input').val();
            updateShipName(shipKey, shipName);
        });

        // Update ship name by hitting enter.
        $('.editingShipNameInput').on('keydown', function(event) {
            if(event.keyCode === 13) {
                shipKey = parseInt($(this).parent().parent().attr('id').split('-')[1], 10);
                shipName = $(this).val();
                updateShipName(shipKey, shipName);
            }
        });

        // Change selected ship by clicking on ship image.
        $('.aship img').click(function() {

            // Which was clicked?
            id = parseInt($(this).parent().attr('id').split('-')[1], 10);

            // Update player object in browser memory.
            PlayerObj.selectedShip = id;

            // Update interface.
            $('.aship').removeClass('selectedShip');
            $(this).parent().addClass('selectedShip');
            $('#ship-current').html(PlayerObj.shiplayouts[PlayerObj.selectedShip].name);

            // Save to server.
            savePlayerObj(PlayerObj);
        });

        //detect all connected gamepad devices
      /*  function onDevice() {
            return "getGamepads" in navigator;
        }
        $(document).ready(function() {
          if(onDevice()) {

              var display = "Test your gamepad device by connecting it and pressing any button!";
              $("#gamePad").text(display);

              //display connection message if device detected
              $(window).on("gamepadconnected", function() {
                  $("#gamePad").html("Your gamepad is connected!");
                  console.log("connection event");
              });

              //display original message for player to connect device if device disconnects
              $(window).on("gamepaddisconnected", function() {
                  console.log("disconnection event");
                  $("#gamePad").text(display);
              });

          }
        });  */

    </script>
</body>
</html>
