<% include head.ejs %>
<body>
    <% include nav.ejs %>
    <div id="stats" class="container ls-container">
        <div class="page-header text-center">
            <h1><i class="fa fa-bar-chart"></i></i> Stats</h1>
        </div>
        <div class="col-sm-6">
            <h3><i class="fa fa-trophy"></i> Achievements</h3>
            <!-- filled in from user's achievements in database -->
            <p>Mystery Number: <%= playerData.stats.spinsSeen %></p>
            <p>Shots Fired : <%= playerData.stats.shotsFired %></p>
            <p>Shots Hit: <%= playerData.stats.shotsHit %></p>
            <p>Accuracy: <%= (parseFloat(playerData.stats.shotsHit)/parseFloat(playerData.stats.shotsFired))*100 %>%</p>

        </div>
    </div>
</body>
</html>
