<% include head.ejs %>
<body>
    <% include nav.ejs %>
    <div id="store" class="container ls-container">
        <div class="page-header text-center">
            <h1>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-1x"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span> Store
            </h1>
        </div>

        <div class="col-xs-10 col-xs-offset-1">

            <div class="panel panel-default panel-collapsable" id="panel1">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-target="#collapseOne">Sort and Filter</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <!--<div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="search-tems">Search <i>(coming soon)</i></label>
                                    <input type="text" class="form-control" id="seatch-items" placeholder="start typing to search" disabled>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <label>Sort by Attribute</label><br>
                                    <button class="item-sorts btn btn-warning" id="sort-level">Level</button>
                                    <button class="item-sorts btn btn-warning" id="sort-cost">Cost</button>
                                    <button class="item-sorts btn btn-warning active" id="sort-type">Type</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <label>Filter by Cost</label><br>
                                    <button class="cost-filters btn btn-warning" id="filter-affordable">Affordable?</button>
                                    <br>
                                    <br>
                                    <label>Filter by Item Type</label><br>
                                    <button class="type-filters btn btn-warning active" id="filter-ships">Ships</button>
                                    <button class="type-filters btn btn-warning active" id="filter-weapons">Weapons</button>
                                    <button class="type-filters btn btn-warning active" id="filter-actives">Actives</button>
                                    <button class="type-filters btn btn-warning active" id="filter-passives">Passives</button>
                                    <br>
                                    <br>
                                    <label>Filter by Level</label><br>
                                    <button class="level-filters btn btn-warning active" id="filter-1">1</button>
                                    <button class="level-filters btn btn-warning active" id="filter-2">2</button>
                                    <button class="level-filters btn btn-warning active" id="filter-3">3</button>
                                    <button class="level-filters btn btn-warning active" id="filter-4">4</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-hover" id="store-inventory">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="hidden" id="sortby-level" data-sort="int"></th>
                        <th class="hidden" id="sortby-cost" data-sort="int"></th>
                        <th class="hidden" id="sortby-type" data-sort="string"></th>
                    </tr>
                </thead>
                <tbody>

                    <% for(var i=1; i < dbActives.length; i++) { %>
                        <tr class="filter-actives filter-<%= dbActives[i].level %>">
                            <%
                                var count = 0;
                                for(var j=0; j < playerData.inventory.active.length; j++) {
                                    if (playerData.inventory.active[j] == dbActives[i].id) {
                                        count++;
                                    }
                                }
                            %>
                            <td class="buyCell" id="a-<%= dbActives[i].id %>">
                                <button class="buyBtn btn btn-warning" data="<%= parseInt(dbActives[i].cost, 10) %>">Buy</button>
                                <button class="sellBtn btn btn-warning disabled" data="<%= parseInt(dbActives[i].cost * 0.25, 10) %>">Sell</button>
                            </td>
                            <td><img src="<%= dbActives[i].sprites[0].path %>"></td>
                            <td>
                                <div class="panel panel-info">
                                    <div class="panel-heading"><i>Level <%= dbActives[i].level %></i> <%= dbActives[i].name %></div>
                                    <div class="panel-body">
                                        <div class="col-md-6">
                                            <ul class="list group">
                                                <li class="list-group-item">
                                                    <span class="badge">Active Module</span>
                                                    Item Type
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge">&curren; <%= dbActives[i].cost %></span>
                                                    Cost
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge"><%= count %></span>
                                                    Owned
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="well well-sm">
                                                <p><%= dbActives[i].description %><p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td class="hidden"><%= dbActives[i].level %></td>
                            <td class="item-cost hidden"><%= dbActives[i].cost %></td>
                            <td class="hidden">Active</td>
                        </tr>
                    <% } %>

                    <% for(var i=1; i < dbPassives.length; i++) { %>
                        <tr class="filter-passives filter-<%= dbPassives[i].level %>">
                            <%
                                var count = 0;
                                for(var j=0; j < playerData.inventory.passive.length; j++) {
                                    if (playerData.inventory.passive[j] == dbPassives[i].id) {
                                        count++;
                                    }
                                }
                            %>
                            <td class="buyCell" id="p-<%= dbPassives[i].id %>">
                                <button class="buyBtn btn btn-warning" data="<%= parseInt(dbPassives[i].cost, 10) %>">Buy</button>
                                <button class="sellBtn btn btn-warning disabled" data="<%= parseInt(dbPassives[i].cost * 0.25, 10) %>">Sell</button>
                            </td>
                            <td><img src="<%= dbPassives[i].sprites[0].path %>"></td>
                            <td>
                                <div class="panel panel-warning">
                                    <div class="panel-heading"><i>Level <%= dbPassives[i].level %></i> <%= dbPassives[i].name %></div>
                                    <div class="panel-body">
                                        <div class="col-md-6">
                                            <ul class="list group">
                                                <li class="list-group-item">
                                                    <span class="badge">Passive Module</span>
                                                    Item Type
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge">&curren; <%= dbPassives[i].cost %></span>
                                                    Cost
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge"><%= count %></span>
                                                    Owned
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="well well-sm">
                                                <p><%= dbPassives[i].description %><p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td class="hidden"><%= dbPassives[i].level %></td>
                            <td class="item-cost hidden"><%= dbPassives[i].cost %></td>
                            <td class="hidden">Passive</td>
                        </tr>
                    <% } %>

                    <% for(var i=1; i < dbShips.length; i++) { %>
                        <tr class="filter-ships filter-<%= dbShips[i].level %>">
                            <%
                                var count = 0;
                                for(var j=0; j < playerData.inventory.ships.length; j++) {
                                    if (playerData.inventory.ships[j] == dbShips[i].id) {
                                        count++;
                                    }
                                }
                            %>
                            <td class="buyCell" id="s-<%= dbShips[i].id %>">
                                <button class="buyBtn btn btn-warning" data="<%= parseInt(dbShips[i].cost, 10) %>">Buy</button>
                                <button class="sellBtn btn btn-warning disabled" data="<%= parseInt(dbShips[i].cost * 0.25, 10) %>">Sell</button>
                            </td>
                            <td><img src="<%= dbShips[i].images[0] %>"></td>
                            <td>
                                <div class="panel panel-success">
                                    <div class="panel-heading"><i>Level <%= dbShips[i].level %></i> <%= dbShips[i].name %></div>
                                    <div class="panel-body">
                                        <div class="col-md-6">
                                            <ul class="list group">
                                                <li class="list-group-item">
                                                    <span class="badge">Ship</span>
                                                    Item Type
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge">&curren; <%= dbShips[i].cost %></span>
                                                    Cost
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge"><%= count %></span>
                                                    Owned
                                                </li>
                                            </ul>
                                            <div class="well well-sm">
                                                <p><%= dbShips[i].description %><p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            Acceleration
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger"style="width: <%= (dbShips[i].attributes.acceleration.initial * 0.5) * 10 %>%"></div>
                                                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= ((dbShips[i].attributes.acceleration.max - dbShips[i].attributes.acceleration.initial) * 0.5) * 10 %>%"></div>
                                            </div>
                                            Thrust
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger"style="width: <%= (dbShips[i].attributes.thrust.initial * 0.5) * 10 %>%"></div>
                                                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= ((dbShips[i].attributes.thrust.max - dbShips[i].attributes.thrust.initial) * 0.5) * 10 %>%"></div>
                                            </div>
                                            Armor
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"style="width: <%= (dbShips[i].attributes.armor.initial * 0.5) * 10 %>%"></div>
                                                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= ((dbShips[i].attributes.armor.max - dbShips[i].attributes.armor.initial) * 0.5) * 10 %>%"></div>
                                            </div>
                                            Shield
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"style="width: <%= (dbShips[i].attributes.shield.initial * 0.5) * 10 %>%"></div>
                                                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= ((dbShips[i].attributes.shield.max - dbShips[i].attributes.shield.initial) * 0.5) * 10 %>%"></div>
                                            </div>
                                            Shield Regeneration
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"style="width: <%= (dbShips[i].attributes.shieldRegen.initial * 0.5) * 10 %>%"></div>
                                                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= ((dbShips[i].attributes.shieldRegen.max - dbShips[i].attributes.shieldRegen.initial) * 0.5) * 10 %>%"></div>
                                            </div>
                                            Slots<br>
                                            <% for (var j = 0; j < dbShips[i].slots.length; j++) {
                                                if (dbShips[i].slots[j].moduleType === 'weapon') { %>
                                                    <img class="shop-slot-image" src="assets/web/wslot<%= dbShips[i].slots[j].moduleMaxLevel %>.png">
                                                <% }
                                                if (dbShips[i].slots[j].moduleType === 'active') { %>
                                                    <img class="shop-slot-image" src="assets/web/aslot<%= dbShips[i].slots[j].moduleMaxLevel %>.png">
                                                <% }
                                                if (dbShips[i].slots[j].moduleType === 'passive') { %>
                                                    <img class="shop-slot-image" src="assets/web/pslot<%= dbShips[i].slots[j].moduleMaxLevel %>.png">
                                                <% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td class="hidden"><%= dbShips[i].level %></td>
                            <td class="item-cost hidden"><%= dbShips[i].cost %></td>
                            <td class="hidden">Ship</td>

                        </tr>
                    <% } %>

                    <% for(var i=1; i < dbWeapons.length; i++) { %>
                        <tr class="filter-weapons filter-<%= dbWeapons[i].level %>">
                            <%
                                var count = 0;
                                for(var j=0; j < playerData.inventory.weapons.length; j++) {
                                    if (playerData.inventory.weapons[j] == dbWeapons[i].id) {
                                        count++;
                                    }
                                }
                            %>
                            <td class="buyCell" id="w-<%= dbWeapons[i].id %>">
                                <button class="buyBtn btn btn-warning" data="<%= dbWeapons[i].cost %>">Buy</button>
                                <button class="sellBtn btn btn-warning disabled" data="<%= parseInt(dbWeapons[i].cost * 0.25, 10) %>">Sell</button>
                            </td>
                            <td><img src="<%= dbWeapons[i].sprites[0].path %>"></td>
                            <td>
                                <div class="panel panel-danger">
                                    <div class="panel-heading"><i>Level <%= dbWeapons[i].level %></i> <%= dbWeapons[i].name %></div>
                                    <div class="panel-body">
                                        <div class="col-md-6">
                                            <ul class="list group">
                                                <li class="list-group-item">
                                                    <span class="badge">Weapon</span>
                                                    Item Type
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge">&curren; <%= dbWeapons[i].cost %></span>
                                                    Cost
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge"><%= count %></span>
                                                    Owned
                                                </li>
                                            </ul>
                                            <div class="well well-sm">
                                                <p><%= dbWeapons[i].description %><p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            Damage Type
                                            <div class="bg-warning text-center">
                                                <%= dbWeapons[i].damage.type %>
                                            </div>
                                            Damage per Shot
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger"style="width: <%= dbWeapons[i].damage.amount %>%"></div>
                                            </div>
                                            Fire Rate
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger"style="width: <%= (5000 / dbWeapons[i].damage.fireRate) %>%"></div>
                                            </div>
                                            Range
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger"style="width: <%= dbWeapons[i].damage.range / 100 %>%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td class="hidden"><%= dbWeapons[i].level %></td>
                            <td class="item-cost hidden"><%= dbWeapons[i].cost %></td>
                            <td class="hidden">Weapon</td>
                        </tr>
                    <% } %>

                </tbody>
            </table>
        </div>

    </div>

    <script>
        PlayerObj = <%- JSON.stringify(playerData) %>;
        dbShips = <%- JSON.stringify(dbShips) %>;
        dbWeapons = <%- JSON.stringify(dbWeapons) %>;
        dbActives = <%- JSON.stringify(dbActives) %>;
        dbPassives = <%- JSON.stringify(dbPassives) %>;

        // Filter store table based on selection.
        function filterBy() {
            // Hide all table rows.
            $('#store-inventory tbody tr').hide();

            // Store what's selected by filters.
            showing = {};
            showing.minCost = 0;
            showing.maxCost = 1000000;
            showing.type = [];
            showing.level = [];
            if ($('#filter-affordable').hasClass('active')) {
                showing.maxCost = PlayerObj.stats.credit;
            }
            $('.type-filters').each(function(e) {
                if ($(this).hasClass('active')) {
                    showing.type.push($(this).attr('id'));
                }
            });
            $('.level-filters').each(function(e) {
                if ($(this).hasClass('active')) {
                    showing.level.push($(this).attr('id'));
                }
            });

            // Look through each table row and see if it should show based on filters.
            $('#store-inventory tbody tr').each(function(e) {
                for (var i = 0; i < showing.type.length; i++) {
                    for (var j = 0; j < showing.level.length; j++) {
                        if ($(this).hasClass(showing.type[i]) &&
                            $(this).hasClass(showing.level[j]) &&
                            parseInt($(this).children('.item-cost').html(), 10) >= showing.minCost &&
                            parseInt($(this).children('.item-cost').html(), 10) <= showing.maxCost
                            ) {
                            $(this).show();
                        }
                    }
                }
            });
        }

        // Table sorting
        $('#store-inventory').stupidtable();
        $('.item-sorts').on('click', function() {
            $('.item-sorts').removeClass('active');
            $(this).toggleClass('active').blur();
            if ($(this).attr('id') === 'sort-level') {
                $('#store-inventory').find('thead #sortby-level').stupidsort();
            }
            if ($(this).attr('id') === 'sort-cost') {
                $('#store-inventory').find('thead #sortby-cost').stupidsort();
            }
            if ($(this).attr('id') === 'sort-type') {
                $('#store-inventory').find('thead #sortby-type').stupidsort();
            }
        });

        // Filter by type buttons.
        $('#filter-affordable').click(function() {
            $(this).toggleClass('active').blur();
            filterBy();
        });

        // Filter by type buttons.
        $('.type-filters').click(function() {
            $(this).toggleClass('active').blur();
            filterBy();
        });

        // Filter by level buttons.
        $('.level-filters').click(function() {
            $(this).toggleClass('active').blur();
            filterBy();
        });

        // Buy on click
        $('.buyBtn').click(function() {

            var playerCredit = parseInt(PlayerObj.stats.credit, 10);
            var itemCost = parseInt($(this).attr('data'), 10);
            var itemType = $(this).parent().attr('id').split('-')[0];
            var itemId = parseInt($(this).parent().attr('id').split('-')[1], 10);

            if (itemCost > playerCredit) {
                console.log('you cannot afford that item');
                return;
            } else {

                PlayerObj.stats.credit = playerCredit - itemCost;
                $('#credits').html(numberWithCommas(PlayerObj.stats.credit));
                console.log(
                    'Congradulations on your purchase: \n' +
                    playerCredit + '\n' +
                    '-' + itemCost + '\n' +
                    '------' + '\n' +
                    PlayerObj.stats.credit
                );

                switch(itemType) {
                    // Active item
                    case 'a':
                        PlayerObj.inventory.active.push(itemId);
                        break;

                    // Passive item
                    case 'p':
                        PlayerObj.inventory.passive.push(itemId);
                        break;

                    // Ship item (only one kinda different)
                    case 's':
                        PlayerObj.inventory.ships.push(itemId);
                        // In addition to adding the ship to the ships array; setup a new ship layout.
                        thisShip = null;
                        for(var i = 1; i < dbShips.length; i++) {
                            if (dbShips[i].id === itemId) {
                                thisShip = dbShips[i];
                                break;
                            }
                        }

                        // Reliabily find the next key in shiplayouts.
                        shiplayoutKeys = Object.keys(PlayerObj.shiplayouts);
                        nextslkey = 0;
                        for(var i = 0; i < shiplayoutKeys.length; i++) {
                            keyasint = parseInt(shiplayoutKeys[i]);
                            if(keyasint > nextslkey) {
                                nextslkey = keyasint
                            }
                        }
                        nextslkey++;

                        // Create the initial ship layout for this new ship.
                        PlayerObj.shiplayouts[nextslkey] = {
                            shipId: thisShip.id,
                            name: thisShip.name,
                            level: thisShip.level,
                            sprites: {
                                ship: {
                                    name: thisShip.sprites[0].name,
                                    shape: thisShip.sprites[0].shape
                                }
                            },
                            thrusters: thisShip.thrusters,
                            imagepath: thisShip.images[0],
                            attributes: {
                                acceleration: thisShip.attributes.acceleration.initial,
                                thrust: thisShip.attributes.thrust.initial,
                                armor: thisShip.attributes.armor.initial,
                                armorRegen: thisShip.attributes.armorRegen.initial,
                                shield: thisShip.attributes.shield.initial,
                                shieldRegen: thisShip.attributes.shieldRegen.initial
                            },
                            slots: thisShip.slots,
                            bonus: thisShip.bonus
                        };
                        break;

                    // Weapon item
                    case 'w':
                        PlayerObj.inventory.weapons.push(itemId);
                        break;
                }

                $.ajax({
                    method: "POST",
                    url: "/savePlayerObj",
                    data: PlayerObj
                });
            }
        });

    </script>
</body>
</html>
