<% include head.ejs %>
<body class="body-title">

    <div class="container">

        <div id="title-screen" class="text-center">
            <h1 class="logo"><img class="img-responsive center-block" src="assets/logo.png"></h1>

            <div class="col-sm-6 col-sm-offset-3">

                <!-- Show messages that come back after failed authentication. -->
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <div class="col-sm-6">
                    <a href="/justplay" class="btn btn-lg btn-warning" id="just-play">Just Play</a>
                </div>
                <div class="col-sm-6">
                    <a href="/auth/facebook" class="btn btn-lg btn-primary" id="join-facebook">
                        <span class="fa fa-facebook"></span> Facebook
                    </a>
                </div>

                <!--
                <div class="col-xs-4">
                    <a href="/auth/google" class="btn btn-danger disabled">
                        <span class="fa fa-google-plus"></span> Google
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="/auth/twitter" class="btn btn-info disabled">
                        <span class="fa fa-twitter"></span> Twitter
                    </a>
                </div> -->

                <div class="news col-sm-10 col-sm-offset-1">
                    <p class="text-muted text-left">Latest News:</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="text-muted text-left">
                                2016-04-20: LiveSpace has officially been <a href="https://bitbucket.org/deplicator/unnamed-space-combat-game">open sourced on <i class="fa fa-bitbucket" aria-hidden="true"></i>Bitbucket</a>.
                            </p>
                        </li>
                        <li class="list-group-item">
                            <p class="text-muted text-left">
                                2016-04-18: Want to learn more about LiveSpace? Check out our <a href="http://wiki.arcadeexperiment.com">Wiki</a>!
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
    //browser message for unsupported browsers//
    var supported_browser = window.chrome,
        vendor = window.navigator.vendor,
        isOpera = window.navigator.userAgent.indexOf("OPR") > -1,
        isIEedge = window.navigator.userAgent.indexOf("Edge") > -1;

    if(supported_browser !== null && supported_browser !== undefined && vendor === "Google Inc." && isOpera == false && isIEedge == false) {
    	 //Chrome
    } else {
       // not Google chrome
       alert('You are using an unsupported browser. Please use Chrome for best experience.');
    }
    </script>
  </body>
</html>
