<% include head.ejs %>
<body>
    <% include nav.ejs %>
    <div id="workshop" class="container ls-container">
        <div class="page-header text-center">
            <h1>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-1x"></i>
                    <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                </span> Workshop
            </h1>
        </div>

        <% for(var i in playerData.shiplayouts) {%>
            <% if (i == playerData.selectedShip) { %>
                <!-- Ship -->
                <div class="col-sm-3" id="ship-<%= i %>">
                    <h2 class="text-center">Ship</h2>
                    <button class="btn btn-warning editShipName"><%= playerData.shiplayouts[i].name %></button>
                    <span class="editingShipName">
                        <input class="editingShipNameInput" type="text" placeholder="<%= playerData.shiplayouts[i].name %>">
                        <a class="btn btn-warning editingShipNameDone">Done</a>
                    </span>
                    <img class="img-responsive center-block" id="ship" src= <%= playerData.shiplayouts[i].imagepath %> />
                </div>

                <!-- Attributes -->
                <div class="col-sm-5">
                    <h2 class="text-center">Attributes</h2>

                    <div class="row">
                        <h3 id="tour-stop-acceleration">Acceleration<small></i><span class="badge">&curren;150</span></small></h3>
                        <div class="col-sm-10">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" id="progress-bar-acceleration"></div>
                            </div>
                        </div>
                        <div class="col-sm-2" class="upgrade">
                            <i class="fa fa-plus-circle fa-2x" id="upgrade-acceleration" data="150"></i>
                            <i id="upgrade-maxed-acceleration">MAX</i>
                        </div>
                    </div>

                    <div class="row">
                        <h3 id="tour-stop-thrust">Thrust<small></i><span class="badge">&curren;120</span></small></h3>
                        <div class="col-sm-10">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" id="progress-bar-thrust"></div>
                            </div>
                        </div>
                        <div class="col-sm-2" class="upgrade">
                            <i class="fa fa-plus-circle fa-2x" id="upgrade-thrust" data="120"></i>
                            <i id="upgrade-maxed-thrust">MAX</i>
                        </div>
                    </div>

                    <div class="row">
                        <h3 id="tour-stop-armor">Armor<small></i><span class="badge">&curren;310</span></small></h3>
                        <div class="col-sm-10">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" id="progress-bar-armor"></div>
                            </div>
                        </div>
                        <div class="col-sm-2" class="upgrade">
                            <i class="fa fa-plus-circle fa-2x" id="upgrade-armor" data="310"></i>
                            <i id="upgrade-maxed-armor">MAX</i>
                        </div>
                    </div>

                    <div class="row">
                        <h3 id="tour-stop-shield">Shield<small></i><span class="badge">&curren;250</span></small></h3>
                        <div class="col-sm-10">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" id="progress-bar-shield"></div>
                            </div>
                        </div>
                        <div class="col-sm-2" class="upgrade">
                            <i class="fa fa-plus-circle fa-2x" id="upgrade-shield" data="250"></i>
                            <i id="upgrade-maxed-shield">MAX</i>
                        </div>
                    </div>

                    <div class="row">
                        <h3 id="tour-stop-shieldRegen">Shield Regeneration<small></i><span class="badge">&curren;175</span></small></h3>
                        <div class="col-sm-10">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" id="progress-bar-shieldRegen"></div>
                            </div>
                        </div>
                        <div class="col-sm-2" class="upgrade">
                            <i class="fa fa-plus-circle fa-2x" id="upgrade-shieldRegen" data="175"></i>
                            <i id="upgrade-maxed-shieldRegen">MAX</i>
                        </div>
                    </div>

                </div>

                <!-- Slots -->
                <div class="col-sm-4">
                    <h2 class="text-center">Slots</h2>
                    <!-- Loop through all ship slots. -->
                    <% for (var i = 0; i < playerData.shiplayouts[playerData.selectedShip].slots.length; i++) { %>

                        <!-- Weapon slots. -->
                        <% if (playerData.shiplayouts[playerData.selectedShip].slots[i].moduleType === 'weapon') { %>
                            <h3 id="tour-stop-slot-weapon">Weapon</h3>
                            <!-- Show drop down menu for each weapon slot available on ship. -->
                            <div class="btn-group" id="weapon-<%= i %>">
                                <button type="button" class="btn btn-lg btn-danger">
                                    <!-- Show currently equipped module. -->
                                    <% if (playerData.shiplayouts[playerData.selectedShip].slots[i].moduleId != 0) { %>
                                        <% for (var j = 1; j < dbWeapons.length; j++) { %>
                                            <% if (playerData.shiplayouts[playerData.selectedShip].slots[i].moduleId == dbWeapons[j].id) { %>
                                                <span id="weapon-loaded-<%= playerData.shiplayouts[playerData.selectedShip].slots[i].moduleId %>">
                                                    <img src="<%= dbWeapons[j].sprites[0].path %>">
                                                    <%= dbWeapons[j].name %>
                                                </span>
                                            <% } %>
                                        <% } %>
                                    <% } else { %>
                                        <span id="weapon-loaded-0">
                                            <i class="fa fa-square-o"></i> Empty Slot
                                        </span>
                                    <% } %>
                                </button>
                                <button type="button" class="btn btn-lg btn-danger dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="weapon-swap" id="weapon-load-0" href="#"><i class="fa fa-square-o"></i> Empty Slot</a></li>
                                    <li role="separator" class="divider"></li>
                                    <!-- List of weapon modules in player's inventory that meet the requirements for this slot. -->
                                    <% for (var k = 0; k < playerData.inventory.weapons.length; k++) { %>
                                        <% for (var j = 1; j < dbWeapons.length; j++) { %>
                                            <% if (playerData.inventory.weapons[k] == dbWeapons[j].id) { %>
                                                <% if (dbWeapons[j].level <= playerData.shiplayouts[playerData.selectedShip].slots[i].moduleMaxLevel) { %>
                                                    <li>
                                                        <a class="weapon-swap" id="weapon-load-<%= playerData.inventory.weapons[k]%>" href="#">
                                                            <img src="<%= dbWeapons[j].sprites[0].path %>">
                                                            <%= dbWeapons[j].name %>
                                                        </a>
                                                    </li>
                                                <% } %>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </ul>
                            </div>
                        <% } %>

                        <!-- Active slots. -->
                        <% if (playerData.shiplayouts[playerData.selectedShip].slots[i].moduleType === 'active') { %>
                            <h3 id="tour-stop-slot-active">Active Module</h3>
                            <!-- Show drop down menu for each active slot available on ship. -->
                            <div class="btn-group" id="active-<%= i %>">
                                <button type="button" class="btn btn-lg btn-info">
                                    <!-- Show currently equipped module. -->
                                    <% if (playerData.shiplayouts[playerData.selectedShip].slots[i].moduleId != 0) { console.log('wut')%>
                                        <% for (var j = 1; j < dbActives.length; j++) { %>
                                            <% if (playerData.shiplayouts[playerData.selectedShip].slots[i].moduleId == dbActives[j].id) { %>
                                                <span id="active-loaded-<%= playerData.shiplayouts[playerData.selectedShip].slots[i].moduleId %>">
                                                    <img src="<%= dbActives[j].sprites[0].path %>">
                                                    <%= dbActives[j].name %>
                                                </span>
                                            <% } %>
                                        <% } %>
                                    <% } else { %>
                                        <span id="active-loaded-0">
                                            <i class="fa fa-square-o"></i> Empty Slot
                                        </span>
                                    <% } %>
                                </button>
                                <button type="button" class="btn btn-lg btn-info dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="active-swap" id="active-load-0" href="#"><i class="fa fa-square-o"></i> Empty Slot</a></li>
                                    <li role="separator" class="divider"></li>
                                    <!-- List of active modules in player's inventory that meet the requirements for this slot. -->
                                    <% for (var k = 0; k < playerData.inventory.active.length; k++) { %>
                                        <% for (var j = 1; j < dbActives.length; j++) { %>
                                            <% if (playerData.inventory.active[k] == dbActives[j].id) { %>
                                                <% if (dbActives[j].level <= playerData.shiplayouts[playerData.selectedShip].slots[i].moduleMaxLevel) { %>
                                                    <li>
                                                        <a class="active-swap" id="active-load-<%= playerData.inventory.active[k]%>" href="#">
                                                            <img src="<%= dbActives[j].sprites[0].path %>">
                                                            <%= dbActives[j].name %>
                                                        </a>
                                                    </li>
                                                <% } %>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </ul>
                            </div>
                        <% } %>

                        <!-- Passive slots. -->
                        <% if(playerData.shiplayouts[playerData.selectedShip].slots[i].moduleType === "passive") { %>
                            <h3 id="tour-stop-slot-passive">Passive Module</h3>
                            <!-- Show drop down menu for each passive slot available on ship. -->
                            <div class="btn-group" id="passive-<%= i %>">
                                <button type="button" class="btn btn-lg btn-warning">
                                    <!-- Show currently equipped module. -->
                                    <% if (playerData.shiplayouts[playerData.selectedShip].slots[i].moduleId != 0) { %>
                                        <% for (var j = 1; j < dbPassives.length; j++) { %>
                                            <% if (playerData.shiplayouts[playerData.selectedShip].slots[i].moduleId == dbPassives[j].id) { %>
                                                <span id="passive-loaded-<%= playerData.shiplayouts[playerData.selectedShip].slots[i].moduleId %>">
                                                    <img src="<%= dbPassives[j].sprites[0].path %>">
                                                    <%= dbPassives[j].name %>
                                                </span>
                                            <% } %>
                                        <% } %>
                                    <% } else { %>
                                        <span id="passive-loaded-0">
                                            <i class="fa fa-square-o"></i> Empty Slot
                                        </span>
                                    <% } %>
                                </button>
                                <button type="button" class="btn btn-lg btn-warning dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="passive-swap" id="passive-load-0" href="#"><i class="fa fa-square-o"></i> Empty Slot</a></li>
                                    <li role="separator" class="divider"></li>
                                    <!-- List of passive modules in player's inventory that meet the requirements for this slot. -->
                                    <% for (var k = 0; k < playerData.inventory.passive.length; k++) { %>
                                        <% for (var j = 1; j < dbPassives.length; j++) { %>
                                            <% if (playerData.inventory.passive[k] == dbPassives[j].id) { %>
                                                <% if (dbPassives[j].level <= playerData.shiplayouts[playerData.selectedShip].slots[i].moduleMaxLevel) { %>
                                                    <li>
                                                        <a class="passive-swap" id="passive-load-<%= playerData.inventory.passive[k]%>" href="#">
                                                            <img src="<%= dbPassives[j].sprites[0].path %>">
                                                            <%= dbPassives[j].name %>
                                                        </a>
                                                    </li>
                                                <% } %>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </ul>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        <% } %>
    </div>


    <script>
        // Objects from routs.js.
        PlayerObj = <%- JSON.stringify(playerData) %>;
        dbShips = <%- JSON.stringify(dbShips) %>;
        dbWeapons = <%- JSON.stringify(dbWeapons) %>;
        dbActives = <%- JSON.stringify(dbActives) %>;
        dbPassives = <%- JSON.stringify(dbPassives) %>;

        // Lengths will come in handy.
        dbShipslen = dbShips.length;
        dbWeaponsLen = dbWeapons.length;
        dbActivesLen = dbActives.length;
        dbPassivesLen = dbPassives.length;

        // Player's currently selected ship database entry (defined later).
        dbShip = null;

        // Player's currently selected ship layout.
        selectedShip = PlayerObj.shiplayouts[PlayerObj.selectedShip];
        var i, x;

        // Run immediatly after page load.
        $(document).ready(function() {

            // Hide sections on page load.
            $('.editingShipName').hide();

            // Set up elements that require ship max attributes.
            var attributes = ['acceleration', 'thrust', 'armor', 'shield', 'shieldRegen'];
            var attributesLen = attributes.length;
            for (i = 1; i < dbShipslen; i++) {
                if (dbShips[i].id === parseInt(selectedShip.shipId, 10)) {

                    // Get selected ship info from database
                    dbShip = dbShips[i];

                    // Loop through the five basic attributes.
                    for (var i = 0; i < attributesLen; i++) {

                        // Hide upgrade buttons.
                        $('#upgrade-' + attributes[i]).hide();
                        $('#upgrade-maxed-' + attributes[i]).hide();

                        // Update progress bar with upgradeability.
                        var progress = (selectedShip.attributes[attributes[i]] / parseInt(dbShip.attributes[attributes[i]].max, 10)) * 100;
                        $('#progress-bar-' + [attributes[i]]).css('width', progress + '%');

                        // Show upgrade button if not maxed.
                        if (parseInt(selectedShip.attributes[attributes[i]], 10) < parseInt(dbShip.attributes[attributes[i]].max, 10)) {
                            $('#upgrade-' + attributes[i]).show();
                        }

                        // Show maxed text when maxed.
                        if (parseInt(selectedShip.attributes[attributes[i]], 10) >= parseInt(dbShip.attributes[attributes[i]].max, 10)) {
                            $('#upgrade-maxed-' + attributes[i]).show();
                        }
                    }
                    break;
                }
            }
        });

        // Upgrade attribute on click.
        $('[id^=upgrade-]').on('click', function() {

            // Figure out which attribute.
            var attribute = $(this).attr('id').split('-')[1];

            // Figure out its cost.
            var cost = parseInt($(this).attr('data'), 10);

            // Figure out if player can affort this.
            var playerCredit = parseInt(PlayerObj.stats.credit, 10);
            if(playerCredit < cost) {
                console.log('You cannot afford this.');
                return;
            } else {
                console.log(
                    'Congradulations on your upgrade: \n' +
                    playerCredit + '\n' +
                    '-' + cost + '\n' +
                    '------' + '\n' +
                    (playerCredit - cost)
                );
                playerCredit -= cost;
                $('#credits').html(numberWithCommas(playerCredit));

            }

            // Increase attribute in browser memory.
            PlayerObj.shiplayouts[PlayerObj.selectedShip].attributes[attribute]++;

            // Update display.
            var progress = (selectedShip.attributes[attribute] / parseInt(dbShip.attributes[attribute].max, 10)) * 100;
            $('#progress-bar-' + [attribute]).css('width', progress + '%');

            // Upgrade ship display on acceleration threshold (change second to last 0 to a 1 on names)
            if (selectedShip.attributes.acceleration >= dbShip.attributes.acceleration.sprite_threshold) {

                // Change the web image source file name.
                var imagePath = PlayerObj.shiplayouts[PlayerObj.selectedShip].imagepath;
                var temp = imagePath.split('.png')[0];
                var newImagePath = temp.substr(0, temp.length - 2) + '1' + temp.substr(temp.length - 1, temp.length) + '.png';
                PlayerObj.shiplayouts[PlayerObj.selectedShip].imagepath = newImagePath;

                // Update screen.
                $('#ship').attr('src', newImagePath);

                // Update ships sprite data.
                for(var each in PlayerObj.shiplayouts[PlayerObj.selectedShip].sprites.ship) {
                    var name = PlayerObj.shiplayouts[PlayerObj.selectedShip].sprites.ship[each];
                    var newName = name.substr(0, name.length - 2) + '1' + name.substr(name.length - 1, name.length)
                    PlayerObj.shiplayouts[PlayerObj.selectedShip].sprites.ship[each] = newName;
                };
            }

            // Upgrade ship display on thrust threshold (change last 0 to a 1 on names)
            if (selectedShip.attributes.thrust >= dbShip.attributes.thrust.sprite_threshold) {

                // Change the web image source file name.
                var imagePath = PlayerObj.shiplayouts[PlayerObj.selectedShip].imagepath;
                var temp = imagePath.split('.png')[0];
                var newImagePath = temp.substr(0, temp.length - 1) + '1.png';
                PlayerObj.shiplayouts[PlayerObj.selectedShip].imagepath = newImagePath;

                // Update screen.
                $('#ship').attr('src', newImagePath);

                // Update ships sprite data.
                for(var each in PlayerObj.shiplayouts[PlayerObj.selectedShip].sprites.ship) {
                    var name = PlayerObj.shiplayouts[PlayerObj.selectedShip].sprites.ship[each];
                    var newName = name.substr(0, name.length - 1) + '1';
                    PlayerObj.shiplayouts[PlayerObj.selectedShip].sprites.ship[each] = newName;
                };
            }

            // Save to server.
            savePlayerObj(PlayerObj);

            // Hide upgrade button when maxed.
            if (PlayerObj.shiplayouts[PlayerObj.selectedShip].attributes[attribute] >= parseInt(dbShip.attributes[attribute].max)) {
                $('#upgrade-' + [attribute]).hide();
                $('#upgrade-maxed-' + [attribute]).show();
            }
        });


        /** Swap out slot modules. **/
        // Change out weapon slot module.
        $('.dropdown-menu').on('click', '.weapon-swap', function(e) {
            e.preventDefault();

            // Figure out which slot.
            var slotId = $(this).parent().parent().parent().attr('id');
            var slotNum = slotId.substr(slotId.lastIndexOf('-') + 1, slotId.length);

            // Figure out what module was selected.
            var selectedId = $(this).attr('id');
            var selectedModule = selectedId.substr(selectedId.lastIndexOf('-') + 1, selectedId.length);

            // Figure out which module to remove.
            var $loaded = $('#' + slotId).find('[id^=weapon-loaded-]');
            var loadedId = $loaded.attr('id');
            var loadedModule = loadedId.substr(loadedId.lastIndexOf('-') + 1, loadedId.length);
            var $loadedParent = $loaded.parent();

            // Update interface.
            // Remove currently selected module.
            $('#' + slotId).find('[id^=weapon-loaded-]').remove();
            // Create new DOM element for current selection.
            var $newSelection = $('<span id="weapon-loaded-' + selectedModule + '"></span>');
            // Account for emptying slot.
            if (selectedModule == 0) {
                $newSelection.append('<i class="fa fa-square-o"></i> Empty Slot');
            } else {
                // Search for details about this weapon module.
                for (var i = 1; i < dbWeaponsLen; i++) {
                    if (dbWeapons[i].id == selectedModule) {
                        $newSelection.append('<img src="' + dbWeapons[i].sprites[0].path + '">');
                        $newSelection.append(dbWeapons[i].name);
                        break;
                    }
                }
            }
            $loadedParent.html($newSelection);
            // Remove module from dropdown, if it's not the empty slot option.
            if (selectedModule != 0) {
                $(this).parent().remove();
            }
            // Add reomved module to drop down, if it's not the empty slot option.
            if (loadedModule != 0) {
                $menuOption = $('<li></li>');
                $menuOptionAnchor = $('<a class="weapon-swap" id="weapon-load-' + loadedModule + '" href="#"></a>');
                for (var i = 1; i < dbWeaponsLen; i++) {
                    if (dbWeapons[i].id == loadedModule) {
                        $menuOptionAnchor.append('<img src="' + dbWeapons[i].sprites[0].path + '">');
                        $menuOptionAnchor.append(dbWeapons[i].name);
                        break;
                    }
                }
                $menuOption.append($menuOptionAnchor);
                $('#' + slotId).find('.dropdown-menu').append($menuOption);
            }

            // Exchange items in PlayerObj.
            // Search through inventory for first id to match.
            if (selectedModule != 0) {
                for (var i = 0; i < PlayerObj.inventory.weapons.length; i++) {
                    if (PlayerObj.inventory.weapons[i] == selectedModule) {
                        // And remove it.
                        PlayerObj.inventory.weapons.splice(i, 1);
                        //??
                        if (PlayerObj.inventory.weapons.length == 0) {
                            PlayerObj.inventory.weapons.push(0);
                        }
                    }
                }
            }
            // Put mocule id in selected ship slot moduleId
            selectedShip.slots[slotNum].moduleId = selectedModule;
            // Put removed module id back in inventory, if it's not empty.
            if (loadedModule != 0) {
                PlayerObj.inventory.weapons.push(loadedModule);
            }

            // Save to server.
            savePlayerObj(PlayerObj);
        });

        // Change out active slot module.
        $('.dropdown-menu').on('click', '.active-swap', function(e) {
            e.preventDefault();

            // Figure out which slot.
            slotId = $(this).parent().parent().parent().attr('id');
            slotNum = slotId.substr(slotId.lastIndexOf('-') + 1, slotId.length);

            // Figure out what module was selected.
            selectedId = $(this).attr('id');
            selectedModule = selectedId.substr(selectedId.lastIndexOf('-') + 1, selectedId.length);

            // Figure out which module to remove.
            $loaded = $('#' + slotId).find('[id^=active-loaded-]');
            loadedId = $loaded.attr('id');
            loadedModule = loadedId.substr(loadedId.lastIndexOf('-') + 1, loadedId.length);
            $loadedParent = $loaded.parent();

            // Update interface.
            // Remove currently selected module.
            $('#' + slotId).find('[id^=active-loaded-]').remove();
            // Create new DOM element for current selection.
            $newSelection = $('<span id="active-loaded-' + selectedModule + '"></span>');
            // Account for emptying slot.
            if (selectedModule == 0) {
                $newSelection.append('<i class="fa fa-square-o"></i> Empty Slot');
            } else {
                // Search for details about this active module.
                for (var i = 1; i < dbActivesLen; i++) {
                    if (dbActives[i].id == selectedModule) {
                        $newSelection.append('<img src="' + dbActives[i].sprites[0].path + '">');
                        $newSelection.append(dbActives[i].name);
                        break;
                    }
                }
            }
            $loadedParent.html($newSelection);
            // Remove module from dropdown, if it's not the empty slot option.
            if (selectedModule != 0) {
                $(this).parent().remove();
            }
            // Add reomved module to drop down, if it's not the empty slot option.
            if (loadedModule != 0) {
                $menuOption = $('<li></li>');
                $menuOptionAnchor = $('<a class="active-swap" id="active-load-' + loadedModule + '" href="#"></a>');
                for (var i = 1; i < dbActivesLen; i++) {
                    if (dbActives[i].id == loadedModule) {
                        $menuOptionAnchor.append('<img src="' + dbActives[i].sprites[0].path + '">');
                        $menuOptionAnchor.append(dbActives[i].name);
                        break;
                    }
                }
                $menuOption.append($menuOptionAnchor);
                $('#' + slotId).find('.dropdown-menu').append($menuOption);
            }

            // Exchange items in PlayerObj.
            // Search through inventory for first id to match.
            if (selectedModule != 0) {
                for (var i = 0; i < PlayerObj.inventory.active.length; i++) {
                    if (PlayerObj.inventory.active[i] == selectedModule) {
                        // And remove it.
                        PlayerObj.inventory.active.splice(i, 1);
                        //??
                        if (PlayerObj.inventory.active.length == 0) {
                            PlayerObj.inventory.active.push(0);
                        }
                    }
                }
            }
            // Put mocule id in selected ship slot moduleId
            selectedShip.slots[slotNum].moduleId = selectedModule;
            // Put removed module id back in inventory, if it's not empty.
            if (loadedModule != 0) {
                PlayerObj.inventory.active.push(loadedModule);
            }

            // Save to server.
            savePlayerObj(PlayerObj);
        });

        // Change out passive slot module.
        $('.dropdown-menu').on('click', '.passive-swap', function(e) {
            e.preventDefault();

            // Figure out which slot.
            var slotId = $(this).parent().parent().parent().attr('id');
            var slotNum = slotId.substr(slotId.lastIndexOf('-') + 1, slotId.length);

            // Figure out what module was selected.
            var selectedId = $(this).attr('id');
            var selectedModule = selectedId.substr(selectedId.lastIndexOf('-') + 1, selectedId.length);

            // Figure out which module to remove.
            var $loaded = $('#' + slotId).find('[id^=passive-loaded-]');
            var loadedId = $loaded.attr('id');
            var loadedModule = loadedId.substr(loadedId.lastIndexOf('-') + 1, loadedId.length);
            var $loadedParent = $loaded.parent();

            // Update interface.
            // Remove currently selected module.
            $('#' + slotId).find('[id^=passive-loaded-]').remove();
            // Create new DOM element for current selection.
            var $newSelection = $('<span id="passive-loaded-' + selectedModule + '"></span>');
            // Account for emptying slot.
            if (selectedModule == 0) {
                $newSelection.append('<i class="fa fa-square-o"></i> Empty Slot');
            } else {
                // Search for details about this passive module.
                for (var i = 1; i < dbPassivesLen; i++) {
                    if (dbPassives[i].id == selectedModule) {
                        $newSelection.append('<img src="' + dbPassives[i].sprites[0].path + '">');
                        $newSelection.append(dbPassives[i].name);
                        break;
                    }
                }
            }
            $loadedParent.html($newSelection);
            // Remove module from dropdown, if it's not the empty slot option.
            if (selectedModule != 0) {
                $(this).parent().remove();
            }
            // Add reomved module to drop down, if it's not the empty slot option.
            if (loadedModule != 0) {
                $menuOption = $('<li></li>');
                $menuOptionAnchor = $('<a class="passive-swap" id="passive-load-' + loadedModule + '" href="#"></a>');
                for (var i = 1; i < dbPassivesLen; i++) {
                    if (dbPassives[i].id == loadedModule) {
                        $menuOptionAnchor.append('<img src="' + dbPassives[i].sprites[0].path + '">');
                        $menuOptionAnchor.append(dbPassives[i].name);
                        break;
                    }
                }
                $menuOption.append($menuOptionAnchor);
                $('#' + slotId).find('.dropdown-menu').append($menuOption);
            }

            // Exchange items in PlayerObj.
            // Search through inventory for first id to match.
            if (selectedModule != 0) {
                for (var i = 0; i < PlayerObj.inventory.passive.length; i++) {
                    if (PlayerObj.inventory.passive[i] == selectedModule) {
                        // And remove it.
                        PlayerObj.inventory.passive.splice(i, 1);
                        //??
                        if (PlayerObj.inventory.passive.length == 0) {
                            PlayerObj.inventory.passive.push(0);
                        }
                    }
                }
            }
            // Put mocule id in selected ship slot moduleId
            selectedShip.slots[slotNum].moduleId = selectedModule;
            // Put removed module id back in inventory, if it's not empty.
            if (loadedModule != 0) {
                PlayerObj.inventory.passive.push(loadedModule);
            }

            // Save to server.
            savePlayerObj(PlayerObj);
        });

        /** Change Ship Name **/
        // Updates the ship name.
        function updateShipName(shipKey, shipName) {

            // Validate input
            if(shipName !== '') {

                // Update ShipName in browser's PlayerObj.
                PlayerObj.shiplayouts[shipKey].name = shipName;

                // Send the whole player object in POST to server
                $.ajax({
                    method: "POST",
                    url: "/savePlayerObj",
                    data: PlayerObj
                });

                // Update ship name on screen to avoid refresh.
                $('#ship-' + shipKey + ' button').html(shipName);
                $('#ship-' + shipKey + ' #editingShipNameInput').attr('placeholder', shipName);

                // Hide input and show button again.
                $('.editingShipName').hide();
                $('.editShipName').show();

            } else {
                // Optonally send a message to plyayer to let them know their ship name sucks.
            }
        }

        // Click on ship name to edit.
        $('.editShipName').on('click', function(event) {
            $(this).hide();
            $(this).parent().find('.editingShipName').show();
        });

        // Update ship name on clicking done.
        $('.editingShipNameDone').on('click', function(event) {
            shipKey = parseInt($(this).parent().parent().attr('id').split('-')[1], 10);
            shipName = $(this).parent().find('input').val();
            updateShipName(shipKey, shipName);
        });

        // Update ship name by hitting enter.
        $('.editingShipNameInput').on('keydown', function(event) {
            if(event.keyCode === 13) {
                shipKey = parseInt($(this).parent().parent().attr('id').split('-')[1], 10);
                shipName = $(this).val();
                updateShipName(shipKey, shipName);
            }
        });

    </script>
</body>
</html>
